@import "font-family.css";
body {
  margin: 0;
  padding: 0;
  font-family: "Inter", sans-serif;
  font-weight: 400;
}

section {
  padding: 70px 0;
}

p {
  color: #212529;
  font-size: 0.775rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Playfair Display", serif;
  font-weight: 700;
  color: #bd4328;
  line-height: 1.35;
}

.btn {
  padding: 14px 24px;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  gap: 0.75rem;
}

.btn-primary {
  border: 0;
  background: #fff;
  color: #bd4328;
}

.btn-main {
  text-align: center;
  position: relative;
  color: #000;
  text-decoration: none;
  border-radius: 6px;
  box-sizing: border-box;
  display: block;
  z-index: 2;
  overflow: hidden;
  padding: 2px;
  border-radius: 50px;
}
.btn-main:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 200%;
  height: 100%;
  background: linear-gradient(90deg, #393185 0%, #E4097F 100%);
  background-size: 50% 100%;
  border-radius: 50px;
}
.btn-main span {
  position: relative;
  z-index: 2;
  padding: 0.875rem 0;
  font-size: 1.1rem;
  text-decoration: none;
  align-items: center;
  background: #fff;
  border-radius: 3px;
  display: block;
  justify-content: center;
  height: 100%;
  font-size: 12px;
  border-radius: 50px;
}
.btn-main:focus:before, .btn-main:hover:before {
  animation: btn-main 0.75s linear infinite;
}

@keyframes btn-main {
  to {
    transform: translateX(-50%);
  }
}
label {
  font-weight: 500;
  font-size: 0.775rem;
}

ul {
  padding: 0;
  margin: 0;
}
ul li {
  list-style-type: none;
}
ul svg {
  vertical-align: middle;
  max-width: 100%;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label.required::after {
  content: "*";
  color: #bd4328;
  margin-left: 3px;
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-right: auto;
  margin-left: auto;
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-0.5 * var(--bs-gutter-x));
  margin-left: calc(-0.5 * var(--bs-gutter-x));
}

.row > * {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x) * 0.5);
  padding-left: calc(var(--bs-gutter-x) * 0.5);
  margin-top: var(--bs-gutter-y);
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%;
}

.navbar {
  padding: 0.75rem 0;
}
.navbar .navbar-toggler {
  display: none;
}
.navbar .navbar-nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.navbar .navbar-nav > li {
  float: left;
  display: block;
  position: relative;
  margin: 0 10px;
}
.navbar .navbar-nav > li > a {
  padding-top: 20px;
  padding-bottom: 20px;
  min-height: 60px;
  display: block;
  color: #212529;
  font-size: 0.875rem;
  background-color: transparent;
  letter-spacing: 0.01rem;
  line-height: 18px;
  padding-left: 15px;
  padding-right: 15px;
  text-decoration: none;
  transition: all 0.5s;
}

.position-relative {
  position: relative;
}

.submenu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  padding: 15px 0;
  list-style: none;
  min-width: 180px;
  visibility: hidden;
  opacity: 0;
  margin-top: 10px;
  transition: all 0.2s ease;
  border-radius: 6px;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(60, 72, 88, 0.15);
}
.submenu li {
  display: block;
  clear: both;
  white-space: nowrap;
  font-size: 0.845rem;
  letter-spacing: 0.04em;
  color: #3c4858;
  transition: all 0.3s;
}
.submenu li a.sub-menu-item {
  display: block;
  padding: 6px 20px;
  clear: both;
  white-space: nowrap;
  font-size: 0.845rem;
  letter-spacing: 0.04em;
  color: #3c4858;
  transition: all 0.3s;
}
.submenu li :hover a.sub-menu-item {
  color: #bd4328 !important;
}

.parent-menu:hover .submenu {
  visibility: visible;
  opacity: 1;
  margin-top: 0;
}

.menu-arrow {
  border: solid #7f7f7f;
  border-radius: 0.5px;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  transform: rotate(45deg);
  position: absolute;
  transition: all 0.5s;
  right: -3px;
  top: 1.5rem;
}

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}
@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1140px;
  }
}
@media (min-width: 1400px) {
  .container {
    max-width: 1320px;
  }
}/*# sourceMappingURL=custom_20240710111800.css.map */