@import "font-family.css";

$primary: #bd4328;
$secondary: #212529;
$font-size: 16px;
$font-weight: 400;
$btn-primary: #091638;
$font-family-body: "Inter",
sans-serif;
$font-family-heading: "Playfair Display",
serif;
$gradclr1:#393185;
$gradclr2:#E4097F;
$para-color: #e2daf9;


@mixin border($width, $style, $color) {
  border: $width $style $color;
}

@mixin position($position) {
  position: $position;
}

@mixin transition($all, $sec, $ttf) {
  transition: $all $sec $ttf;
}

@mixin font-weight($weight) {
  font-weight: $weight;
}

@mixin border-radius($radius) {
  border-radius: $radius;
}

@mixin padding($padding) {
  padding: $padding;
}

@mixin display($display) {
  display: $display;
}

@mixin align-items($align-items) {
  align-items: $align-items;
}

@mixin justify-content($justify-content) {
  justify-content: $justify-content;
}


body {
  margin: 0;
  @include padding(0);
  font-family: $font-family-body;
  font-weight: $font-weight;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}



section {
  @include padding(100px 0);
}

p {
  color: #fff;
  font-size: 1rem;
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1.875;
}

a {
  text-decoration: none;
  cursor: pointer;
}

.overflow-hidden {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: $font-family-heading;
  @include font-weight(700);
  color: $primary;
  line-height: 1.35;
}

.text-start {
  text-align: start !important;
}

.text-end {
  text-align: end !important;
}

.mb-0 {
  margin-bottom: 0 !important;
}

.mb-4 {
  margin-bottom: 1.5rem !important;
}

.ms-5 {
  margin-left: 3rem;
}

.mb-5 {
  margin-bottom: 3rem !important;
}

.mb7 {
  margin-bottom: 7rem;
}

.mb-100 {
  margin-bottom: 100px;
}

.pt-0 {
  padding-top: 0;
}

.btn {
  @include padding(0.875rem 1.5rem);
  @include border-radius(0.5rem);
  font-size: 1rem;
  box-shadow: none;
  outline: none;
  gap: 0.75rem;
  @include display(inline-flex);
  @include align-items(center);
  @include transition(all, 0.7s, ease-in-out);

  &:hover {
    span {
      margin-left: 0.5rem;
      @include transition(all, 0.7s, ease-in-out);
    }
  }
}


.btn-primary {
  border: 1px solid #E7E7FF;
  background: #F8F8FF;
  color: $btn-primary;
}


.btn-outline-main {
  text-align: center;
  @include position(relative);
  color: $btn-primary;
  @include border-radius(3.125rem);
  @include display(block);
  z-index: 2;
  overflow: hidden;
  @include padding(0.125rem);

  &:before {
    content: "";
    @include position(absolute);
    top: 0;
    left: 0;
    width: 200%;
    height: 100%;
    background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
    background-size: 50% 100%;
    @include border-radius(3.125rem);
  }

  span {
    @include position(relative);
    z-index: 2;
    @include padding(0.688rem 1.375rem);
    font-size: 1.1rem;
    @include align-items(center);
    background: #fff;
    @include display(block);
    @include justify-content(center);
    height: 100%;
    font-size: 0.8rem;
    @include border-radius(3.125rem);
  }

  &:focus,
  &:hover {
    &:before {
      animation: btn-outline-main .75s linear infinite
    }
  }
}

@keyframes btn-outline-main {
  to {
    transform: translateX(-50%)
  }
}

.btn-main {
  background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
  color: #fff;

  span.material-symbols-outlined {
    @include transition(all, 0.7s, ease-in-out);
  }
}

label {
  @include font-weight(500);
  font-size: 0.775rem;
}

ul {
  @include padding(0);
  margin: 0;

  li {
    list-style-type: none;
  }

  svg {
    vertical-align: middle;
    max-width: 100%;
  }
}


label.required {
  &::after {
    content: "*";
    color: $primary;
    margin-left: 3px;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.d-flex {
  @include display(flex);
}

.d-block {
  @include display(block);
}

.d-none {
  @include display(none);
}

.justify-content-between {
  @include justify-content(space-between);
}

.justify-content-center {
  @include justify-content(center);
}

.align-items-end {
  @include align-items(end);
}

.align-items-center {
  @include align-items(center);
}


// grid system

.container,
.container-fluid {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto
}



.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  @include display(flex);
  flex-wrap: wrap;
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

.g-0,
.gx-0 {
  --bs-gutter-x: 0;
}

.g-3,
.gx-3 {
  --bs-gutter-x: 1rem;
}

.g-4,
.gx-4 {
  --bs-gutter-x: 1.5rem;
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%
}

.col-4 {
  flex: 0 0 auto;
  width: 25%;
}

.col-6 {
  flex: 0 0 auto;
  width: 50%;
}

.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%
}

.col-9 {
  flex: 0 0 auto;
  width: 75%;
}

.col-10 {
  flex: 0 0 auto;
  width: 83.333%;
}

.col-11 {
  flex: 0 0 auto;
  width: 91.66667%;
}

// header
header {
  @include position(fixed);
  right: 0;
  left: 0;
  top: 0;
  z-index: 999;
  background-color: #fff;
  border: 0;
  @include transition(all, .5s, ease);

  .menu-extras {
    .navbar-toggle {
      @include display(none);

      .lines {
        width: 25px;
        @include display(block);
        @include position(relative);
        margin: 1.5rem 1.25rem;
        margin-right: 0;

        span {
          height: 2px;
          width: 100%;
          background-color: #3c4858;
          @include display(block);
          margin-bottom: 5px;
          @include transition(transform, .5s, ease);

          &:last-child {
            margin-bottom: 0;
          }
        }
      }
    }
  }
}

.navbar {

  .navbar-toggler {
    @include display(none);
  }

  .navbar-nav {
    @include display(flex);
    flex-wrap: wrap;
    @include justify-content(center);

    >li {
      @include display(block);
      @include position(relative);
      // margin: 0 10px;
      @include padding(0 10px);

      >a {
        @include padding(1.75rem 15px);
        @include display(block);
        color: $secondary;
        font-size: .875rem;
        letter-spacing: .01rem;
        line-height: 18px;
        @include transition(all, 0.5s, ease-in-out);
        ;

      }
    }


  }

}

.position-relative {
  @include position(relative);
}

.submenu {
  @include position(absolute);
  top: 100%;
  left: -36px;
  z-index: 1000;
  @include padding(15px 0);
  list-style: none;
  min-width: 180px;
  visibility: hidden;
  opacity: 0;
  // margin-top: 10px;
  @include border-radius(6px);
  background-color: #fff;
  box-shadow: 0 0 3px rgba(49, 53, 59, 0.15);
  @include transition(all, .6s);
  ;

  li {
    @include display(block);
    white-space: nowrap;
    font-size: .75rem;
    letter-spacing: .04em;
    color: $secondary;
    @include transition(all, .3s);
    ;


    a.sub-menu-item {
      @include display(block);
      @include padding(6px 20px);
      font-size: .75rem;
      letter-spacing: .04em;
      color: $secondary;
      @include transition(all, .37s);
      ;
    }

    :hover {
      color: $primary !important;
    }
  }
}

.parent-menu {

  &:hover,
  &:focus {
    outline: none;

    .submenu {
      visibility: visible;
      opacity: 1;
      margin-top: 0;
     @include transition(all, 0.5s, ease-in-out);
      ;
    }

    a {
      outline: none;
    }

    >span {
      transform: rotate(-135deg);
      top: 2.25rem;
      @include transition(all, 0.7s, ease-in-out);
    }
  }

  .submenu.open {
    +.menu-arrow {
      transform: rotate(-135deg);
    }
  }
}

.menu-arrow {
  border: solid #7f7f7f;
  border-width: 0 1.5px 1.5px 0;
  @include display(inline-block);
  padding: 3px;
  transform: rotate(45deg);
  @include position(absolute);
  @include transition(all, 0.5s, ease-in-out);
  ;
  right: 0.5rem;
  top: 2rem;
}



//tabs
.tab {
  height: 100%;
  @include display(flex);
  @include align-items(center);
}

.tabs {
  @include display(flex);

  // .tab-content {
  //   min-height: 292.16px;
  // }
}

.tab-links {
  @include display(flex);
  list-style-type: none;
  @include padding(0);
  margin: 0;
  cursor: pointer;
  flex-direction: column;
  min-width: 245px;
  margin-right: 1rem;
}

.tab-link {
  @include font-weight(600);
  @include border-radius(0.75rem);
  padding: 1rem;
  text-align: left;
  font-size: .875rem !important;
  @include position(relative);

  a {
    @include display(block);
    color: #000;
  }


}

.tab-link.active {
  background-color: #fff1f1;

  a {
    color: $primary;
  }

  &:after {
    content: "";
    @include position(absolute);
    width: 0;
    height: 0;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff1f1;
    top: 50%;
    left: 100%;
    transform: translateY(-50%);
  }
}

.tab-content .tab {
  @include display(none);
  margin-bottom: .85rem;
}

.tab-content .tab.active {
  @include display(block);
}



// .submenu.open {
//   @include display(none);
// }

.mgmenu {
  li {
    margin-bottom: 0.85rem;

    a {
      color: $btn-primary;
    }
  }
}

header.nvbrhdr.bg-white {
  box-shadow: 0 10px 20px #08002a14
}

section.top-banner {
  background: url(../images/banner.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  margin-top: 40px;



  .tpcntnt {
    p {
      background: linear-gradient(90deg, #AE2220 0%, #D72A28 100%);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      @include font-weight(500);
      font-size: 1.5rem;
      line-height: 1.875rem;
    }

    h4 {
      font-size: 3rem;
      line-height: 4rem;
      @include font-weight(700);
      color: $secondary;
      margin: 0.75rem 0 1.875rem;
    }
  }
}

.intro {
  background: url(../images/dott-bg2.svg);
  background-repeat: no-repeat;
  background-size: auto;
  background-position: top right;

  .lft {
    background: url(../images/dott-bg1.svg);
    background-repeat: no-repeat;
    background-size: auto;
    background-position: top left;

    h4 {
      color: $secondary;
      font-size: 2.25rem;
      line-height: 3rem;
      margin-bottom: 1.875rem;
    }

    p {
      line-height: 2;
      color: #37302F;
      margin-bottom: 2.25rem;
      font-size: 1.125rem;
    }
  }



  .rgt {
    background: linear-gradient(133.87deg, #FDFBFF 0.98%, #EDEDFF 99.45%);
    @include border-radius(0.5rem);
    text-align: center;
    @include padding(2.25rem);
    width: 100%;
    margin-bottom: 1.5rem;
    @include display(flex);
    flex-direction: column;
    @include justify-content(center);
    @include align-items(center);
    @include position(relative);
    @include transition(all, 0.7s, ease-in-out);

    img {
      margin-bottom: 1rem;
      width: 55px;
      height: 55px;
    }

    h4 {
      color: $btn-primary;
      font-size: 17px;
      @include font-weight(700);
      margin: 0;
    }

    ::before {
      width: 0;
      transform: scale(0, 0);
      @include transition(all, 0.7s, ease-in-out);
    }

    &:hover {
      background: linear-gradient(133.87deg, #EDEDFF 0.98%, #FDFBFF 99.45%);
      transform: translate(0, -10px);
      @include transition(all, 0.7s, ease-in-out);

      ::before {
        content: "";
        position: absolute;
        inset: 0;
        top: 100%;
        left: 50%;
        z-index: -1;
        transform: translate(-50%, -50%) scale(1, 1.5) rotateY(25deg);
        background: url(../images/boder-big-with-shadow.svg) center / cover no-repeat;
        width: 80%;
        height: 1.35px;
        @include transition(all, 0.7s, ease-in-out);
      }

      h4 {
        background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        @include transition(all, 0.7s, ease-in-out);
      }
    }

  }
}

.key-feature {
  background: url(../images/Key-features/key-feature-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;

  h4 {
    font-size: 2.25rem;
    @include font-weight(700);
    color: #fff;
    margin: 0;
    margin-bottom: 1.25rem;
  }

  p {
    margin: 0;
    margin-bottom: 3.5rem;
    color: $para-color;
    line-height: 1.875;
    font-size: 1.175rem;
  }
}

.swiper,
.swiper1 {
  width: 100%;
  max-width: 1280px;
  overflow-x: hidden;
}

.swiper-slide {
  @include display(flex);
  @include justify-content(center);
  background: #fff;
  @include padding(1.875rem 1.5rem);
  @include border-radius(0.5rem);
  height: auto;
  @include transition(all, 0.7s, ease-in-out);

  &:hover {
    transform: translate(0, -10px);
    @include transition(all, 0.7s, ease-in-out);
  }
}


.swiper1 {
  .swiper-slide {
    &:hover {
      background: linear-gradient(to bottom right, #FCE8F1, #E3F2FD);
      transform: translate(0);
      @include transition(all, 0.7s, ease-in-out);

      .sliderimg {
        .readanch {
          .readmore {
            margin-right: 0.25rem;
            font-size: 0.875rem;
            opacity: 1;
            position: relative;
            @include transition(all, 0.8s);
            right: initial;
          }

        }
      }

      .material-symbols-outlined {
        left: 31%;
       @include transition(all, 0.5s, ease-in-out);
      }
    }
  }


}

.swiper-wrapper {
  // margin-left: 7rem;

  .slidecntnt {
    width: 100%;
    height: 100%;

    img {
      margin-bottom: 2rem;
    }

    h5 {
      font-size: 18px;
      color: $btn-primary;
      margin: 0;
      margin-bottom: 1rem;
      font-weight: 800;
    }

    p {
      font-size: 1rem;
      color: $secondary;
      margin-bottom: 0;
      line-height: 1.5;
      @include font-weight(500);
    }
  }


}

.swiper-btn {
  @include position(absolute);
  top: 0;
  right: 0;
  color: #fff;
  background: #000;
}

.swiper-button-next,
.swiper-button-prev,
.swiper-button-next1,
.swiper-button-prev1 {
  top: 27px;
  background: #FCFCFC;
  width: 35px;
  height: 35px;
  @include border-radius(3px);

  &:focus-visible {
    outline: none;
  }
}

.swiper-button-next:after,
.swiper-button-prev:after,
.swiper-button-next1:after,
.swiper-button-prev1:after {
  font-size: 1rem;
  background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  @include font-weight(600);
}

.swiper-button-prev,
.swiper-button-prev1 {
  left: -280px;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
  border-right: 1px solid #E6EBF5;
}

.swiper-button-next,
.swiper-button-next1 {
  right: 200px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn-primary {
  .material-symbols-outlined {
    background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include font-weight(600);
    @include transition(all, 0.7s, ease-in-out);
  }
}

section.work-flow {
  background: url(../images/4-section-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sec-head {
  font-size: 2.25rem;
  @include font-weight(700);
  color: $secondary;
  text-align: center;
  line-height: 2.925rem;
  margin: 0;
  margin-bottom: 2.5rem;
}

.sdmbox {
  background: url(../images/schedule-a-demo-bg.svg) top right / auto 100% no-repeat;
  background-color: #6D31E0;
  color: #fff;
  padding: 4rem;
  @include border-radius(0.75rem);

  img {
    @include position(absolute);
    max-width: 100%;
    bottom: -64px;
    right: 0;
  }

  h2 {
    font-size: 2.25rem;
    @include font-weight(700);
    margin: 0;
    margin-bottom: 1.25rem;
    color: #fff;
  }

  p {
    font-size: 1.25rem;
    margin: 0;
    margin-bottom: 2.5rem;
    color: $para-color;
    line-height: 1.875rem;
  }
}





.submenu1 {
  display: none;
}

.open {
  display: block;
}



.moreprod.extrpdg {
  .swiper-slide {
    @include padding(3.125rem 1.875rem);
  }
}



// next slider
.moreprod.key-feature {
  .swiper-container {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
}

.moreprod {

  .swiper-button-prev,
  .swiper-button-prev1 {
    left: 94%;
    border-right: 1px solid #E6EBF5;

    &::after {
      @include transition(all, 0.7s, ease-in-out);
    }

    &:hover::after {
      transform: translateX(-3px);
    }
  }

  .swiper-button-next,
  .swiper-button-next1 {
    right: 0;

    &::after {
      @include transition(all, 0.7s, ease-in-out);
    }

    &:hover::after {
      transform: translateX(3px);
    }
  }
}


.key-feature .swiper-wrapper {
  margin-left: 7.7rem;
}

.moreprod {
  @include position(relative);


  .sliderimg {
    .readanch {
      @include display(flex);
      @include align-items(center);

      .readmore {
        @include transition(all, 0.7s, ease-in-out);
        opacity: 0;
        font-size: 0.875rem;
      }


    }


    h4 {
      font-size: 17px;
      @include font-weight(800);
    }
  }
}

.sliderimg {
  img {
    margin-bottom: 2rem;
  }

  h4 {
    font-size: 17px;
    @include font-weight(700);
    color: $secondary;
    margin: 0;
    margin-bottom: 1rem;
  }

  p {
    color: #1d1d3f;
    font-size: 1rem;
    line-height: 1.5;
  }

  span {
    background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    @include font-weight(600);


  }

  span.material-symbols-outlined {
    transform: translate(0);
    @include position(absolute);
    left: 1.5rem;
    @include transition(all, 0.2s);
  }
}


.accordion {
  margin: auto;
}

.accordion-item {
  &:first-child {
    border-top: 1px solid #E0E4E4;
  }
}

.accordion-item.active {
  border-bottom: 1px solid #E0E4E4;
  padding-bottom: calc(1rem + 2px);

  .accordion-header {
    padding-bottom: 1.5rem;

    span {
      transform: rotate(-180deg);
      @include transition(all, 0.6s, ease-in-out);
    }
  }

  .accordion-content {
    border-top: 0;

    p {
      padding-left: 0.5rem;
      padding-top: 0;
    }
  }
}

.accordion-header {
  background-color: transparent;
  border-bottom: 1px solid #E0E4E4;
  cursor: pointer;
  @include padding(calc(2rem + 2px) 0.5rem);
  font-size: 1.2rem;
  @include display(flex);
  outline: 0;
  @include justify-content(space-between);
  @include align-items(center);
  border: none;
  width: 100%;
  @include transition(background-color, 0.2s, ease);

  span {
    color: #1C1B1F;
    @include font-weight(700);
  }

  p {
    color: $secondary;
    margin: 0;
    line-height: 1;
    font-size: 1.125rem;
  }


}

.accordion-content {
  max-height: 0;
  overflow: hidden;
  border-top: 1px solid #E0E4E4;
 @include transition(all, 0.5s, ease-in-out);

  p {
    padding: 1rem;
    color: $secondary;
    margin: 0;
    font-size: 0.9rem;
  }

}

.client {
  background: linear-gradient(139.57deg, #E6EBF5 2.77%, #FFFFFF 72.01%);

  .sec-head {
    margin-bottom: 1.25rem;
  }

  .sec-para {
    margin: 0;
    margin-bottom: 3.75rem;
    color: $secondary;
    text-align: center;
  }

  .client-img {
    @include display(flex);
    @include justify-content(center);
  }
}

footer {
  background: #001533;
  padding: 3.125rem 0 1.5rem;

  .ftrcntnt {
    .gap-3 {
      gap: 1rem;

      img {
        height: 1.5rem;
        margin-top: 0.5rem;
      }
    }

    .ftrhead {
      margin: 0;
      margin-bottom: 1.5rem;
      font-size: 1.5rem;
      color: #fff;
      @include font-weight(600);
    }

    ul.mb-45 {
      margin-bottom: 2rem;

      >li {
        margin-bottom: 1rem;
        @include display(flex);
        gap: 1rem;

        >&:nth-child(3) {
          margin-bottom: 0;
        }

        a {
          font-size: 1rem;
          color: #B0B7C0;
        }

        span {
          background: linear-gradient(90deg, $gradclr1 0%, $gradclr2 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          font-size: 2rem;
          @include display(inline-block);
          @include border-radius(50%);
          @include position(relative);
          z-index: 1;
        }
      }




    }

    .adrs {
      margin: 0;

      p {
        margin: 0;
        margin-bottom: 0.35rem;
        @include font-weight(600);

        &:nth-child(2) {
          color: #FCFCFC;
          @include font-weight(400);
          opacity: 0.7;
        }
      }
    }
  }

  .socialicon {
    @include display(flex);
    @include align-items(center);
    gap: 0.875rem;
    margin-bottom: 0.5rem;

    li {
      margin: 0;
      width: 32px;
      height: 32px;
      background: #fff;
      @include border-radius(50%);
      @include padding(0.375rem);
      @include display(flex);
      @include align-items(center);
      @include justify-content(center);
    }
  }
}

.bdrbtm {
  border-bottom: 1px solid #374964;
  margin-bottom: 2rem;
}

.lftbc {
  p {
    font-size: 0.875rem;
    color: #FCFCFC;
    margin-top: 0;
    opacity: 0.7;

    &:first-child {
      margin-bottom: 0.75rem;
    }
  }

  .fstspan {
    color: #FCFCFC;
    margin-top: 0;
    opacity: 0.7 !important;
  }

  .text-white {
    color: #fff;
  }
}

.line,
.cross {

  svg,
  img {
    width: 25px;
    height: 25px;
  }
}

.expanded {
  height: 100%;
}




















@media (min-width: 576px) {

  .container {
    max-width: 540px;
  }

  .col-sm-4 {
    flex: 0 0 auto;
    width: 33.333333%;
  }

  .col-sm-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-sm-8 {
    flex: 0 0 auto;
    width: 66.66666667%;
  }

  .col-sm-10 {
    flex: 0 0 auto;
    width: 83.33333%;
  }
}

@media (min-width: 768px) {
  .d-md-inline-block {
    display: inline-block !important;
  }

  .mb-md-0 {
    margin-bottom: 0;
  }

  .container {
    max-width: 720px;
  }

  .col-md-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-md-4 {
    flex: 0 0 auto;
    width: 33.33333333%;
  }

  .col-md-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-md-6 {
    flex: 0 0 auto;
    width: 50%
  }

  .col-md-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-md-8 {
    flex: 0 0 auto;
    width: 75%;
  }

  .col-md-10 {
    flex: 0 0 auto;
    width: 83.33333333%;
  }
}

@media (min-width: 992px) {
  .prodlist.submenu {
    padding: 2rem 2.5rem;
    line-height: 1.6;
    min-width: 170px;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    @include display(flex);
    @include align-items(center);
    @include justify-content(center);
  }



  .justify-content-lg-center {
    justify-content: center;
  }

  .justify-content-lg-start {
    justify-content: start;
  }

  .container {
    max-width: 960px;
  }

  .intro {
    margin-top: 50px;
  }

  #line,
  #cross {
    display: none;
  }

  .col-lg-2 {
    flex: 0 0 auto;
    width: 16.666667%;
  }

  .col-lg-3 {
    flex: 0 0 auto;
    width: 25%;
  }

  .col-lg-6 {
    flex: 0 0 auto;
    width: 50%;
  }

  .col-lg-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }

  .col-lg-8 {
    flex: 0 0 auto;
    width: 66.66666667%
  }

  .align-items-lg-center {
    @include align-items(center);
  }

  .d-lg-none {
    @include display(none);
  }

  .d-lg-block {
    @include display(block);
  }
}

@media (min-width:1200px) {

  .container {
    max-width: 1140px
  }

  .col-xl-2 {
    flex: 0 0 auto;
    width: 16.66666667%;
  }

  .col-xl-5 {
    flex: 0 0 auto;
    width: 41.66666667%;
  }

  .col-xl-7 {
    flex: 0 0 auto;
    width: 58.33333333%;
  }
}

@media (min-width:1400px) {

  .container {
    max-width: 1320px
  }
}

@media(max-width:575px) {


  .swiper-button-next1,
  .swiper-button-prev1 {
    top: 255px;
  }
}

@media(max-width:767px) {


  .submenu {
    position: absolute;
    left: 0;
    box-shadow: none;
    width: 100%;

    .tabs {
      flex-direction: column;
    }
  }

  .swiper-button-next,
  .swiper-button-next1 {
    right: 14px;
  }

  .swiper-button-prev,
  .swiper-button-prev1 {
    left: -94px;
  }

  .sdmbox {
    padding: 2rem;

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 14px;
      margin-bottom: 1.25rem;
    }
  }





  footer {
    .ftrcntnt {
      ul.mb-45 {
        >li {
          a {
            font-size: 0.875rem;
          }
        }
      }

      .ftrhead {
        font-size: 1.2rem;
      }

      .adrs {
        p {
          font-size: 0.925rem;

          &:nth-child(2) {
            font-size: 0.875rem;
          }
        }
      }
    }
  }

  .lftbc {

    p,
    span {
      font-size: 0.775rem;
    }
  }
}

@media(max-width:991px) {
  .client-img {
    margin-bottom: 1rem;
  }

  .mb-100 {
    margin-bottom: 50px;
  }

  .collapse.navbar-collapse {
    overflow: auto;
  }

  .align-items-lg-center {
    @include align-items(center);
  }

  section.top-banner {
    background-size: cover;
    padding-bottom: 2rem;

    .client-img {
      margin-bottom: 1.5rem;
    }

    .tpcntnt {
      h4 {
        font-size: 1.75rem;
        line-height: 3rem;
        margin-top: 0;
      }

      p {
        font-size: 1.15rem;
        margin-bottom: 0.5rem;
        line-height: 1.875rem;
      }
    }
  }

  .navbar .navbar-nav {
    display: block;
  }

  .sec-head {
    font-size: 1.5rem;
  }

  .key-feature {
    h4 {
      font-size: 1.5rem;
    }

    p {
      font-size: 0.875rem;
    }
  }

  .intro {
    .lft {
      margin-bottom: 3rem;
    }
  }



  section {
    padding: 60px 0;
  }

  .cross,
  .collapse.navbar-collapse,
  .exbtn {
    display: none;
  }

  .intro .lft h4 {
    font-size: 1.75rem;
  }

  .menu-extras .menu-item {
    border-color: #8492a6;
  }

  header.nvbrhdr {
    @include padding(1rem 0);
    // height: 100%;
    // overflow: auto;
  }

  .navbar {
    .navbar-nav {
      >li {
        >a {
          padding-left: 0;
        }

        &:focus,
        &:hover {
          ul.submenu {
            position: inherit;
            left: 0;
            box-shadow: none;
            padding: 0;
            visibility: visible;
            opacity: 1;
          }
        }
      }
    }
  }

  .accordion-header {
    @include padding(calc(1.25rem + 2px) 0.5rem);

    p {
      font-size: 1rem;
    }
  }

  .intro {
    .lft {
      p {
        font-size: 0.875rem;
      }
    }
  }

  .accordion-content {
    p {
      font-size: 0.875rem;
    }
  }

  .submenu {
    display: none;
    list-style-type: none;
    padding-left: 0;
  }

  .submenu.open {
    display: block;


  }

  .submenu.open+a {
    color: $primary;
  }

  .menu-arrow {

    display: inline-block;
    transition: transform 0.3s ease;
  }

  .submenu+.menu-arrow,
  .parent-menu {
    .menu-arrow {
      transform: rotate(45deg);
    }
  }

  .submenu.open+.menu-arrow {
    transform: rotate(45deg);
  }

  .parent-menu {
    cursor: pointer;
    display: flex;
    align-items: center;

    .accordion-item,
    .accordion-item.active {
      .accordion-header {
        padding: 0.875rem 0;

        a {
          font-size: 0.875rem;
          color: $secondary;
        }

        span {
          color: #828282;
        }
      }


      .open {
        display: block;
      }

      .menu-arrow {
        transition: transform 0.3s ease-in-out;
      }

      .open .menu-arrow {
        transform: rotate(90deg);
      }

      .accordion-content {
        padding: 1rem 0;

        .mgmenu {
          display: flex;
          height: 100%;
          justify-content: center;
          flex-direction: column;
          padding-left: 1rem;
          gap: 0.875rem;

          li {
            margin-bottom: 0;
          }
        }
      }
    }

  }

  .submenu1 {
    display: none;
  }
}

@media (min-width:768px) and (max-width:991px) {
  .submenu {
    position: inherit;
    left: 0;
    box-shadow: none;
  }
}

@media (max-width:524px) {
  .moreprod {

    .swiper-button-next1,
    .swiper-button-prev1 {
      top: 65px;
    }

    .swiper-button-next1 {
      right: 0px;
    }

    .swiper-button-prev1 {
      left: 85%;
    }
  }
}

@media (min-width:525px) and (max-width:768px) {
  .moreprod {
    .swiper-button-next1 {
      right: 8px;
    }

    .swiper-button-prev1 {
      left: 86%;
    }

    .swiper-button-next1,
    .swiper-button-prev1 {
      top: 70px;
    }
  }
}

@media (min-width:769px) and (max-width:991px) {
  .moreprod {
    .swiper-button-prev1 {
      left: 90.5%;
    }
  }
}

@media(max-width:376px) {

  .swiper-button-next,
  .swiper-button-prev {
    top: 245px;
  }
}

@media(min-width:376px) and (max-width:425px) {

  .swiper-button-next,
  .swiper-button-prev {
    top: 228px;
  }

}

@media(min-width:426px) and (max-width:767px) {

  .swiper-button-next,
  .swiper-button-prev {
    top: 210px;
  }
}

@media(max-width:768px) {
  .key-feature {
    .swiper-wrapper {
      margin-left: -1.25rem;
    }
  }
}

@media(min-width:769px) and (max-width:991px) {
  .key-feature {
    .swiper-wrapper {
      margin-left: 10rem;
    }
  }
}

@media(min-width:992px) and (max-width:1202px) {
  .key-feature {
    .swiper-wrapper {
      margin-left: -1.25rem;
    }
  }
}