@import "font-family.css";

$primary: #bd4328;
$secondary: #212529;
$font-size: 16px;
$font-weight: 400;
$btn-primary: #091638;
$btn-secondary: #27d692;
$font-family_1: "Inter",
sans-serif;
$font-family_2: "Playfair Display",
sans-serif;

:root {
  --primary: #{$primary};
  --secondary: #{$secondary};
  --btn-primary: #{$btn-primary};
  --btn-secondary: #{$btn-secondary};
  --root-font-size: #{$font-size};
  --body-font-family: #{$font-family_1};
  --heading-font-family: #{$font-family_2};
  --font-weight: #{$font-weight};
}

body {
  margin: 0;
  padding: 0;
  font-family: var(--body-font-family);
  font-weight: var(--font-weight);
}

@mixin border($width, $style, $color) {
  border: $width $style $color;
}

section {
  padding: 70px 0;
}

p {
  color: var(--secondary);
  font-size: 0.775rem;
  margin-bottom: 1rem;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--heading-font-family);
  font-weight: 700;
  color: var(--primary);
  line-height: 1.35;
}

.btn {
  padding: 14px 24px;
  border-radius: 0.5rem;
  font-size: 1rem;
  box-shadow: none;
  outline: none;
  text-decoration: none;
  gap: 0.75rem;
}


.btn-primary {
  border: 0;
  background: #fff;
  color: #091638;
}

label {
  font-weight: 500;
  font-size: 0.775rem;
  letter-spacing: -0.5px;
}

ul {
  padding: 0;
  margin: 0;

  li {
    list-style-type: none;
  }

  svg {
    vertical-align: middle;
    max-width: 100%;
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

label.required {
  &::after {
    content: "*";
    color: var(--primary);
    margin-left: 3px;
  }
}

img {
  vertical-align: middle;
  max-width: 100%;
}

.justify-content-between {
  justify-content: space-between;
}

.justify-content-center {
  justify-content: center;
}

.justify-content-around {
  justify-content: space-around;
}

.align-items-center {
  align-items: center;
}


// grid system

.container {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-right: auto;
  margin-left: auto
}

.row {
  --bs-gutter-x: 1.5rem;
  --bs-gutter-y: 0;
  display: flex;
  flex-wrap: wrap;
  margin-right: calc(-.5* var(--bs-gutter-x));
  margin-left: calc(-.5* var(--bs-gutter-x));
}

.row>* {
  flex-shrink: 0;
  width: 100%;
  max-width: 100%;
  padding-right: calc(var(--bs-gutter-x)* .5);
  padding-left: calc(var(--bs-gutter-x)* .5);
  margin-top: var(--bs-gutter-y);
}

.col-2 {
  flex: 0 0 auto;
  width: 16.66666667%
}


.col-8 {
  flex: 0 0 auto;
  width: 66.66666667%
}


// header
.navbar {
  padding: 0.75rem 0;

  .navbar-toggler {
    display: none;
  }

  .navbar-nav {
    display: flex;
    gap: 3rem;
    justify-content: center;

    a {
      text-decoration: none;
      color: var(--secondary);
    }
  }

}






















@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}

@media (min-width:1200px) {
  .container {
    max-width: 1140px
  }
}

@media (min-width:1400px) {
  .container {
    max-width: 1320px
  }
}