/* Inter Regular */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/Inter/Inter-Regular.woff2") format("woff2");
  font-display: swap;
}

/* Inter Medium */
@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 500;
  src: url("../fonts/Inter/Inter-Medium.woff2") format("woff2");
  font-display: swap;
}

@font-face {
  font-family: "Inter";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Inter/Inter-SemiBold.woff2") format("woff2");
  font-display: swap;
}





/* Playfair Display font family */
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 600;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-Bold.ttf") format("truetype");
  font-display: swap;
}
@font-face {
  font-family: "Playfair Display";
  font-style: normal;
  font-weight: 800;
  src: url("../fonts/Playfair_Display/PlayfairDisplay-ExtraBold.ttf") format("truetype");
  font-display: swap;
}
